body {
  font-family: Arial, Helvetica, sans-serif
}

header {
  background-color: aqua;
  text-align: center;
}

header .logo {
  display: block;
  min-width: 200px;
  min-height: 150px;
  background-color: white;
  background-image: url(../svgs/logo_top.svg);
  background-repeat: no-repeat;
  background-position: center;
}

nav ul {
  background-color: #2d468b;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  
}


nav ul a {
  text-align: center;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  nav ul {
    background-color: #2d468b;
    display: inline-block;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    min-width: 100%;
    padding-right: 20px;
  }

  nav ul li {
    display: inline-block;
    margin: 0;
    padding: 10px 30px;
  }
  nav ul li:hover{
    background-color: white;
  }
  nav ul li:hover a{
    color: darkblue;
  }
  nav .dropdown {
    display: none;
  }
  
}

nav .dropdown {
  display: none!; 
 }

@media (max-width: 1000px) {
  nav ul {
    padding-top: 05px;
    padding-bottom: 35px;
  }
  nav .navbar {
    display: none;
  }

#menu li
{
	float: left;
	margin-right: 3px;
	border: 1px solid #ecffec;
	position: relative;
}
#menu ul
{
	position: absolute;
	top: 25px;
	left: -1px;
	width: 200px;
	padding: 0;
	display: none;
}
#menu ul li
{
	float: none;
	margin: 0;
	padding: 0;
	line-height: 15px;
}

#menu a:link, #menu a:visited
{
	display: block;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	color: white;
	padding: 5px;
}
#menu li:hover
{
	background-color: white;
  border: 1px solid #000;
  z-index: 100;
}

#menu li:hover a
{
  color:white;
}


#menu li:hover ul
{
  display: block;
}

#menu li:hover ul li:hover a
{
  color: darkblue;
}

}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
  grid-auto-rows: minmax(100px, auto);
}

@media (min-width: 1500px){
  main {
  }
  main .gallery {
    margin-bottom: -1000px;
    padding-bottom: -100px
  }
}


main .top {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

main .mid {
  padding-top: 10px;
  padding-bottom: 10px;
  grid-column: 1 / 3;
  grid-row: 2;
}

main .gallery {
  display: inline-block;
  position: relative;
  margin-bottom: 0px;
  padding: 0;
  object-fit: contain;
}

figure {
  padding: 0;
  margin: 0;
}

.gallery figure {
  object-fit: contain;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 1;
  animation: change 20s infinite;
}

.gallery figure:nth-last-of-type(2) {
  animation-delay: 5s;
	opacity: 0;
}

.gallery figure:nth-last-of-type(3) {
  animation-delay: 10s;
	opacity: 0;
}

.gallery figure:nth-last-of-type(4) {
  animation-delay: 15s;
	opacity: 0;
}

.gallery figure:nth-last-of-type(5) {
  animation-delay: 20s;
	opacity: 0;
}

.gallery figure:nth-last-of-type(6) {
  animation-delay: 25s;
	opacity: 0;
}

.gallery figure:nth-last-of-type(7) {
  animation-delay: 30s;
	opacity: 0;
}

.gallery figure:nth-last-of-type(8) {
  animation-delay: 35s;
	opacity: 0;
}

@keyframes change {
  0% {opacity: 0;}
  20% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}

.gallery figure:last-of-type {
  position: relative;
}

.gallery figcaption {
  position: absolute;
  left: 1em;
  bottom: 0.5em;
  z-index: 2;
}


img {
  max-width: 100%;
  max-height: 100%;
}

main .midright {
  grid-column: 2;
  grid-row: 2;
}

main .midleft {
  grid-column: 1;
  grid-row: 2;
}

main .botright {
  grid-column: 2;
  grid-row: 3;
}

main .botleft {
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-template-columns: 0.5fr, 0.5fr;
  grid-template-rows: 0.2fr, 0.5fr;
  object-fit: contain;
}

main .botleft .bookcover {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}
main .botleft .bookcover img {
  object-fit: cover;
  width: 100%;
}

main .botleft .text {
  padding-left: 10px;
  padding-right: 10px;
  grid-column: 2;
  grid-row: 1;
}

main .botleft .register {
  grid-column: 1;
  grid-row: 2;
}

main .botleft .info {
  grid-column: 2;
  grid-row: 2;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: black 4px;
  border-top-style: groove
}

footer .address {
  grid-column: 1;
}

footer .links {
  grid-column: 2;
}